html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

.logo-title {
    /* width: 340px; */
    /* height: 100px; */
    display: flex;
    
}

h1 {
  font-size: 50pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 20px;
  
}

header {
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    align-items: center;
}

.logo {
    width: 330px;
    padding: 0;
    margin: 0;
}

nav {
  display: none;
}

.nav-style {
  display: contents;
}

.hamburger {
  height: 50px;
  width: 50px;
  background-image: url("images/hamburger-menu-svgrepo-com.svg");
  background-size: contain;
  margin: 20px;
  background-repeat: no-repeat;
  
}

.x-style {
  background-image: url("images/x-svgrepo-com.svg");
}


.button-54 {
  min-width: 122px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 1000;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}


h2 {
    text-align: center;
    font-size: 40px;
    background-color: lightblue;
    padding-bottom: 10px;
    font-style: italic;
    color: rgb(0, 160, 247);
}

.pic-container{
  height: auto;
  width: 100%;
  display: flex;
  
 
}

.pic-container > img {
  justify-content: space-between;
}



footer {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  background-color: lightgray;

}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.social a {
  width: 30px;
  height: 30px;
  background-color: white;
  border: solid black 2px;

}


footer img {
  width: 30px;
  height: 30px;

}  


.copyrightt{
  text-align: center;
  margin-top: 20px;
}


div { 
    display: flex;
    
    
}

/* .pic-container img{
   float: left;
   width: 200px;
   height: 200px;
   object-fit: cover;
}

.small-picture{
  padding: 20px;
  margin: 20px;
  justify-content: space-between;
} */

section {
  /* width: 100%; */
  width: fit-content;
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}


.small-picture {
  width: 98%;
  margin: 0;
  padding: 5px 5px;
}

img {
  object-fit: contain;
  width: 98%;
  display: flex;
}

.about-text{
  border: solid black 2px;
  /* width: 100%; */
  width: fit-content;
  text-align: center;
  height: auto;
  background-color: lightblue;
  padding: 30px;
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;

  
  

}




footer {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
  
  }
  
  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
  }
  
  .social a {
    width: 30px;
    height: 30px;
    background-color: white;
    border: solid black 2px;
  
  }
  
  
  footer img {
    width: 30px;
    height: 30px;
  
  }  
  
  
  .copyrightt{
    text-align: center;
    margin-top: 20px;
  }




@media (min-width: 600px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
    nav {
      padding-bottom: 40px;
      display: flex;
      gap: 40px;
      display: static;
    }
    .hamburger {
      display: none;
    }

    section {
      width: 100%;
      background-color: lightblue;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    
    }
    
    
    .small-picture {
      width: 100%;
      margin: 0;
      padding: 5px 5px;
    }
    
    img {
      object-fit: contain;
      width: 98%;
     
    }
    
    .about-text{
      border: solid black 2px;
      width: fit-content;
      text-align: center;
      height: auto;
      background-color: lightblue;
      padding: 30px;
      display: flex;
      font-family: Georgia, 'Times New Roman', Times, serif;
      /* object-fit: contain; */
      
    
    }
    
}


@media (min-width: 1000px) {
  .button-54 {
    padding: 0.25em 0.75em;
    
  }
  nav {
    padding-bottom: 40px;
    display: flex;
    gap: 40px;
    display: static;
  }
  .hamburger {
    display: none;
  }

  section {
    width: 100%;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
  }
  
  
  .small-picture {
    width: 100%;
    margin: 0;
    padding: 5px 5px;
  }
  
  img {
    object-fit: contain;
    width: 100%;
  }
  
  .about-text{
    border: solid black 2px;
    width:fit-content;
    text-align: center;
    height: auto;
    background-color: lightblue;
    padding: 30px;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  
  }
  
}

@media (min-width: 2000px) {
  .button-54 {
    padding: 0.25em 0.75em;
    
  }
  nav {
    padding-bottom: 40px;
    display: flex;
    gap: 40px;
    display: static;
  }
  .hamburger {
    display: none;
  }

  section {
    width: 100%;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
  }
  
  
  .small-picture {
    width: 100%;
    margin: 0;
    padding: 5px 5px;
  }
  
  img {
    object-fit: contain;
    width: 100%;
  }
  
  .about-text{
    border: solid black 2px;
    width: 100%;
    text-align: center;
    height: auto;
    background-color: lightblue;
    padding: 30px;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  
  }
}